<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Player interaction:</strong>
  <%= @user.player_interaction %>
</p>

<p>
  <strong>Bluffing:</strong>
  <%= @user.bluffing %>
</p>

<p>
  <strong>Quick set up:</strong>
  <%= @user.quick_set_up %>
</p>

<p>
  <strong>Secret info:</strong>
  <%= @user.secret_info %>
</p>

<p>
  <strong>Chance:</strong>
  <%= @user.chance %>
</p>

<p>
  <strong>Card based:</strong>
  <%= @user.card_based %>
</p>

<p>
  <strong>Two player:</strong>
  <%= @user.two_player %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @user.theme %>
</p>

<p>
  <strong>Heavy reading:</strong>
  <%= @user.heavy_reading %>
</p>

<p>
  <strong>Kid friendly:</strong>
  <%= @user.kid_friendly %>
</p>

<p>
  <strong>Requires acting:</strong>
  <%= @user.requires_acting %>
</p>

<p>
  <strong>Random starting state:</strong>
  <%= @user.random_starting_state %>
</p>

<p>
  <strong>Asymmetric:</strong>
  <%= @user.asymmetric %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
