

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Player interaction</th>
      <th>Bluffing</th>
      <th>Quick set up</th>
      <th>Secret info</th>
      <th>Chance</th>
      <th>Card based</th>
      <th>Two player</th>
      <th>Theme</th>
      <th>Heavy reading</th>
      <th>Kid friendly</th>
      <th>Requires acting</th>
      <th>Random starting state</th>
      <th>Asymmetric</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.player_interaction %></td>
        <td><%= game.bluffing %></td>
        <td><%= game.quick_set_up %></td>
        <td><%= game.secret_info %></td>
        <td><%= game.chance %></td>
        <td><%= game.card_based %></td>
        <td><%= game.two_player %></td>
        <td><%= game.theme %></td>
        <td><%= game.heavy_reading %></td>
        <td><%= game.kid_friendly %></td>
        <td><%= game.requires_acting %></td>
        <td><%= game.random_starting_state %></td>
        <td><%= game.asymmetric %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
