<div id='form-container'>
  <%= form_for(@gamer) do |f| %>
    <% if @gamer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@gamer.errors.count, "error") %> prohibited this gamer from being saved:</h2>

        <ul>
        <% @gamer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </br>
    <div class="field">
      <%= f.label :user_name %><br>
      <%= f.text_field :user_name, :class => 'text-field' %>
    </div>
    <h2>5 - A Must have!    0 - Meh</h2>
    <div class="field">
      <%= f.label :player_interaction %><br>
      <%= f.text_field :player_interaction, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :bluffing %><br>
      <%= f.text_field :bluffing, :placeholder => 'Enter 1 - 5', :class => 'text-field'%>
    </div>
    <div class="field">
      <%= f.label :quick_set_up %><br>
      <%= f.text_field :quick_set_up, :placeholder => 'Enter 1 - 5', :class => 'text-field'%>
    </div>
    <div class="field">
      <%= f.label :secret_info %><br>
      <%= f.text_field :secret_info, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :chance %><br>
      <%= f.text_field :chance, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :card_based %><br>
      <%= f.text_field :card_based, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :two_player %><br>
      <%= f.text_field :two_player, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :theme %><br>
      <%= f.text_field :theme, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :heavy_reading %><br>
      <%= f.text_field :heavy_reading, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :kid_friendly %><br>
      <%= f.text_field :kid_friendly, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :requires_acting %><br>
      <%= f.text_field :requires_acting, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="field">
      <%= f.label :random_starting_state %><br>
      <%= f.text_field :random_starting_state , :placeholder => 'Enter 1 - 5', :class => 'text-field'%>
    </div>
    <div class="field">
      <%= f.label :asymmetric %><br>
      <%= f.text_field :asymmetric, :placeholder => 'Enter 1 - 5', :class => 'text-field' %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>