<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @gamer.user_name %>
</p>

<p>
  <strong>Player interaction:</strong>
  <%= @gamer.player_interaction %>
</p>

<p>
  <strong>Bluffing:</strong>
  <%= @gamer.bluffing %>
</p>

<p>
  <strong>Quick set up:</strong>
  <%= @gamer.quick_set_up %>
</p>

<p>
  <strong>Secret info:</strong>
  <%= @gamer.secret_info %>
</p>

<p>
  <strong>Chance:</strong>
  <%= @gamer.chance %>
</p>

<p>
  <strong>Card based:</strong>
  <%= @gamer.card_based %>
</p>

<p>
  <strong>Two player:</strong>
  <%= @gamer.two_player %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @gamer.theme %>
</p>

<p>
  <strong>Heavy reading:</strong>
  <%= @gamer.heavy_reading %>
</p>

<p>
  <strong>Kid friendly:</strong>
  <%= @gamer.kid_friendly %>
</p>

<p>
  <strong>Requires acting:</strong>
  <%= @gamer.requires_acting %>
</p>

<p>
  <strong>Random starting state:</strong>
  <%= @gamer.random_starting_state %>
</p>

<p>
  <strong>Asymmetric:</strong>
  <%= @gamer.asymmetric %>
</p>

<%= link_to 'Edit', edit_gamer_path(@gamer) %> |
<%= link_to 'Back', gamers_path %>
