<!DOCTYPE html>
<html>
<head>
  <title>GameOn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1>Welcome to GameOn</h1>
  <h3>Find Board games based on your preferences</h3>
  <% if gamer_signed_in? %>
  <li>
    <%= link_to('Log Out', destroy_gamer_session_path, :method => :delete) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Login', new_gamer_session_path) %>
  </li>
  <% end %>

<%= yield %>

</body>
</html>
