<!DOCTYPE html>
<html>
<head>
  <title>GameOn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <p class="alert"><%= alert %></p>
<div id="header">
  <p id='welcome'>Welcome to</p>
  <p id='brand'>GameOn</p>

  <em><p id='slogan'>find boardgames based on your likes</p></em>

  <div id='nav-container'>
    <ul id='nav-links'>
      <li>
        <%= link_to('Home', games_path) %>
      </li>
      <li>
        <%= link_to 'Game for group', gamers_path %>
      </li>
      <li>
        <%= link_to 'Gamers', gamers_path %>
      </li>
      <li>
        <%= link_to 'Add a Game', new_game_path %>
      </li>

      <% if gamer_signed_in? %>
        <li>
          <%= link_to('Log Out', destroy_gamer_session_path, :method => :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_gamer_session_path) %>
        </li>
        <li>
          <%= link_to('Sign Up', new_gamer_registration_path) %>
        </li>
      <% end %>
        </br>
     </ul>
   </div> <!--closes nav-->

 </div> <!--close header-->
</br>

 <p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
